{{ form_start(form) }}
    {{ form_widget(form) }}
<ul class="list-group">
    {% if (item.images) %}
        <input type="hidden" name="_token" value="{{ csrf_token('delete_image' ~ item.id) }}">
        <div class="row">
            {% for key, image in item.images %}
                <div class="card col-sm-12 col-md-6 col-lg-4">
                    <a href="{{ asset('media/image/' ~ image ~ '.jpg')|imagine_filter('squared_thumbnail_large') }}"
                       target="_blank">
                        <img class="card-img-top"
                             src="{{ asset('media/image/' ~ image ~ '.jpg')|imagine_filter('squared_thumbnail_small') }}"
                             alt="{{ item.title }}">
                    </a>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        {% if (item.images|length > 1) %}
                            <div class="btn-group mr-2" role="group" aria-label="Image modify group">
                                <button class="btn btn-primary" id="image_main" name="image_main"
                                        value="{{ key }}" title="{% trans %}main.image{% endtrans %}">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button class="btn btn-primary" id="image_move_up" name="image_move_up"
                                        value="{{ key }}" title="{% trans %}move.image.up{% endtrans %}">
                                    <i class="fa fa-step-backward"></i>
                                </button>
                                <button class="btn btn-primary" id="image_move_down"
                                        name="image_move_down"
                                        value="{{ key }}" title="{% trans %}move.image.down{% endtrans %}">
                                    <i class="fa fa-step-forward"></i>
                                </button>
                            </div>
                        {% endif %}
                        <button name="image_delete" value="{{ key }}"
                                class="btn btn-primary float-right" title="{% trans %}delete.image{% endtrans %}">
                            <i class="fa fa-trash" ></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</ul>
<button class="btn btn-primary float-left" title="{{ button_label|default('save.item'|trans) }}">
    <i class="fa fa-save"></i>
</button>
{{ form_end(form) }}
