{% extends 'base.html.twig' %}

{% block title %}{% trans %}item.index{% endtrans %}{% endblock %}

{% block body %}
    {% block user %}{{ parent() }}{% endblock %}

    <h1>{% trans %}item.index{% endtrans %}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}id{% endtrans %}</th>
            <th>{% trans %}title{% endtrans %}</th>
            <th>{% trans %}description{% endtrans %}</th>
            <th>{% trans %}price{% endtrans %}</th>
            <th>{% trans %}thumbnail{% endtrans %}</th>
            <th>{% trans %}room.qty{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>
                    {% if item.images %}
                    <a href="{{ path('item_show', {'id': item.id}) }}">
                        <img src="{{ asset('media/image/' ~ item.images[0] ~ '.jpg')|imagine_filter('squared_thumbnail_small') }}" alt="{{ item.title }}">
                    </a>
                    {% endif %}
                </td>
                <td>{{ item.roomQty }}</td>
                <td>
                    <a href="{{ path('item_show', {'id': item.id}) }}">{% trans %}show.item{% endtrans %}</a>
                    <a href="{{ path('item_edit', {'id': item.id}) }}">{% trans %}edit.item{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}no.records.found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_new') }}">{% trans %}create.new.item{% endtrans %}</a>
{% endblock %}
