{% extends 'base.html.twig' %}

{% block title %}{% trans %}item.index{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans %}item.index{% endtrans %}</h1>

    <div class="container">
        {% if (items) %}
            {# total items count #}
            <div class="count">{% trans %}there.are{% endtrans %} {{ items.getTotalItemCount }} {% trans %}items{% endtrans %}</div>
            <div class="row">
                {% for item in items %}

                    <div class="card col-sm-12 col-md-6 col-lg-4">
                        {% if (item.images) %}
                            <div class="text-center">
                                <a href="{{ path('item_show', {'id': item.id}) }}">
                                    <img class="card-img-top"
                                         src="{{ asset('media/image/' ~ item.images[0] ~ '.jpg')|imagine_filter('squared_thumbnail_small') }}"
                                         alt="{{ item.title }}" alt="Card image cap">
                                </a>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <ul class="list-group">
                                <li class="list-group-item">{% trans %}type{% endtrans %}:
                                    {% if (item.type == 0) %}
                                        {% trans %}apartment{% endtrans %}
                                    {% elseif (item.type == 1) %}
                                        {% trans %}house{% endtrans %}
                                    {% elseif (item.type == 2) %}
                                        {% trans %}garage{% endtrans %}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">{% trans %}user{% endtrans %}: {{ item.user.username }}</li>
                                <li class="list-group-item">{% trans %}description{% endtrans %}
                                    : {{ item.description }}</li>
                                <li class="list-group-item">{% trans %}area{% endtrans %}: {{ item.area }}</li>
                                <li class="list-group-item">{% trans %}is.for.rent{% endtrans %}:
                                    {% if (item.isForRent == 1) %}
                                        {% trans %}rent{% endtrans %}
                                    {% else %}
                                        {% trans %}sale{% endtrans %}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">{% trans %}price{% endtrans %}: {{ item.price }}</li>
                                <li class="list-group-item">{% trans %}room.qty{% endtrans %}: {{ item.roomQty }}</li>
                                <li class="list-group-item">
                                    {% if item.created.date|date("m/d/Y") == "now"|date("m/d/Y") %}
                                        {% trans %}new{% endtrans %}
                                    {% else %}
                                        {{ item.created.date|date("m/d/Y") }}
                                    {% endif %}
                                </li>
                                {% if item.location %}
                                    <li class="list-group-item">{% trans %}location{% endtrans %}:
                                        {% for field in item.location %}
                                            {{ field }}
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <a class="btn btn-outline-primary float-left"
                                       href="{{ path('item_show', {'id': item.id}) }}" title="{% trans %}show.item{% endtrans %}" role="button">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% if app.user %}
                                        {% if item.user.id == app.user.id or 'ROLE_ADMIN' in app.user.roles %}
                                            <a class="btn btn-outline-primary float-left"
                                               href="{{ path('item_edit', {'id': item.id}) }}" title="{% trans %}edit.item{% endtrans %}" role="button">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            {{ include('item/_delete_form.html.twig') }}
                                        {% else %}
                                            <a class="btn btn-outline-primary float-left"
                                               href="{{ path('message_new', {'item_id': item.id}) }}" title="{% trans %}new.message{% endtrans %}" role="button">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        {% endif %}
                                        <form method="post">
                                            <button class="btn btn-outline-primary"
                                                    id="item_like"
                                                    name="{% if (item.id in app.user.likedItems) %}item_unlike{% else %}item_like{% endif %}"
                                                    value="{{ item.id }}">
                                                {% if (item.id in app.user.likedItems) %}
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                {% endif %}
                                            </button>
                                        </form>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ knp_pagination_render(items) }}
        {% else %}
            <span>{% trans %}no.records.found{% endtrans %}</span>
        {% endif %}
    </div>
    {% if app.user %}
        <a class="btn btn-outline-primary" href="{{ path('item_new') }}" title="{% trans %}create.new.item{% endtrans %}">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}

{% endblock %}
