{% extends 'base.html.twig' %}

{% block title %}{% trans %}user.index{% endtrans %}{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}id{% endtrans %}</th>
            <th>{% trans %}username{% endtrans %}</th>
            <th>{% trans %}email{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">{% trans %}show.user{% endtrans %}</a>
                    {% if app.user %}
                        {% if user.id == app.user.id or 'ROLE_ADMIN' in app.user.roles %}
                            <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}edit.user{% endtrans %}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}no.records.found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
